*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  place-items: end;
  column-gap: 30px;
}

.result {
  z-index: 0;
  position: relative;
  grid-area: result;
}

.result__video-container {
  z-index: 0;
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: normal;
}

.search-form__label {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  margin-top: 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: white;
  appearance: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

input[type='checkbox'] + .search-form__pseudo-checkbox {
  align-self: center;
  margin-right: 5px;
  padding: 1px;
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: white;
}

.button {
  z-index: 1;
  position: relative;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
}

.more-button {
  width: 100%;
  height: 34px;
}

.content__details {
  grid-area: details;
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: bold;
  line-height: 94%;
  text-transform: uppercase;
}

.title .content__accent {
  color: #545050;
}

.content__list-container {
  z-index: 0;
  position: relative;
  margin-top: 26px;
  height: 298px;
  overflow: auto;
}

.content__list {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.preloader {
  z-index: 1;
  position: absolute;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__card-link_current {
  display: block;
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 30px;
  font-weight: bold;
  line-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-weight: normal;
  line-height: 1.5;
  line-clamp: 1;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
